.App {
  background-color: #97e835;
  text-align: center;
}

.Login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}


.Login-form {
  width: 420px;
  box-shadow:black 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color:white;
}

.Login-form-content {
  padding-left: 11%;
  padding-right: 11%;
}

.Login-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 35px;
  color: black;
  font-weight: 500;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: black;
}